* {
    margin: 0;
    padding: 0;
    color: white;
}

p {
    text-align: center;
    font-size: 3vw;
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 6vw;
}

h3 {
    text-align: justify;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75vw;
    font-size: 4vw;
}

h4 {
    text-align: center;
    font-size: 3.33vw;
    margin-top: 20px;
}

body {
    background-image: url('./img/background.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 0;
    bottom: 0;
    z-index: -10;
    overflow-y: visible;
}

.overlay {
    position: absolute;
    background-color: rgba(0,0,0,0.66);
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: -5;
}

.overlay * {
    z-index: 1;
}

input {
	color: black;
	outline: none;
	border: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30vw;
	margin-top: 10px;
	border-radius: 5px;
	padding: 7px;
	text-align: center;
	font-size: 3vw;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

input[type=submit] {
	background: #3498db;
	color: #ecf0f1;
	-webkit-appearance: none;
}

.dontDisplay {
    display: none;
}

@media screen and (min-width: 1200px) {
    p {
        font-size: 1em;
    }

    h1 {
        font-size: 50px;
        margin-top: 2vw;
    }

    h3 {
        font-size: 30px;
        width: 50%;
        margin-top: 3vw;
    }

    h4 {
        font-size: 25px;
        margin-top: 3vw;
    }

    input {
	width: 220px;
	font-size: 1em;
    }
}
